<% provide(:title, 'Create category') %>
<h1>Create category</h1>
<br />
<div class="row">
  <div align="center" class="span6 offset3">
    <%= form_for(@category) do |f| %>
    	<%= render 'shared/error1_messages' %>
      
	  	<%= f.label :name %>
      <%= f.text_field :name %> 
      <br/>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>